<h2>Create a new drone</h2>
<p>Name:</p> <input type="text" name="name" id="name">
<p>Propeller:</p> <input type="number" name="propellers" id="propellers">
<p>Max Speed:</p> <input type="number" name="maxSpeed" id="maxSpeed">

<button id="button-create">Crear Dron</button>